<div class="flex gap-3 flex-col">
  <div
    class="grid gap-5 grid-cols-2 md:grid-cols-[repeat(auto-fill,_minmax(250px,_1fr))]"
  >
    <app-card-ui-dashboared
      *ngFor="let card of data"
      [title]="card.title"
      [count]="card.count"
      [icon]="card.safeSvg"
      [subjects]="card.subjects"
      [variant]="'student'"
    />
  </div>

  <div class="flex gap-3">
    <div
      class="r w-full md:w-[70%] border border-[#E9E9E9] rounded-lg h-[320px] flex justify-center items-center"
    >
      <p>Graph</p>
    </div>

    <div
      class="border w-[30%] hidden border-[#E9E9E9] rounded-sm h-[320px] md:flex justify-center items-center"
    >
      <p>Graph</p>
    </div>
  </div>

  <div class="flex flex-col gap-4">
    <div
      class="border-t border-b border-[#E9E9E9] flex gap-3 items-center py-4"
    >
      <div
        (click)="switchTabs('category')"
        class="text-[16px] font-[600] pb-1 cursor-pointer"
        [class.text-textColor]="activeTab === 'category'"
        [class.text-gray-400]="activeTab !== 'category'"
        [class.border-b-4]="activeTab === 'category'"
        [class.border-textColor]="activeTab === 'category'"
      >
        Course categories
      </div>
      <div
        (click)="switchTabs('lessons')"
        class="text-[16px] font-[600] pb-1 cursor-pointer"
        [class.text-textColor]="activeTab === 'lessons'"
        [class.text-gray-400]="activeTab !== 'lessons'"
        [class.border-b-4]="activeTab === 'lessons'"
        [class.border-textColor]="activeTab === 'lessons'"
      >
        Saved lessons
      </div>
    </div>

    <div *ngIf="activeTab === 'category'">
      <div class="table-container">
        <app-student-dashboard [data]="examBoardData" />
      </div>
    </div>
    <div *ngIf="activeTab === 'lessons'">lesson content</div>
  </div>
</div>
