<!-- button.component.html -->

<div class="mx-auto">
  <button
    [type]="type"
    [disabled]="disabled || isLoading"
    [ngClass]="classes"
    (click)="btnClick.emit($event)"
  >
    <!-- Left Icon -->
    <i *ngIf="leftIcon && !isLoading" [ngClass]="leftIcon + ' mr-2'"></i>

    <!-- Loading Spinner -->
    <svg
      *ngIf="isLoading"
      class="animate-spin -ml-1 mr-2 h-4 w-4 text-white"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
      ></circle>
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
      ></path>
    </svg>

    <!-- Button Text -->
    <span>
      <ng-content *ngIf="!label"></ng-content>
      {{ label }}
    </span>

    <!-- Right Icon -->
    <i *ngIf="rightIcon && !isLoading" [ngClass]="rightIcon + ' ml-2'"></i>
  </button>
</div>
