<div class="w-[330px] flex flex-col gap-4 border border-t-0">
  <div class="h-[200px]">
    <img [src]="image" alt="{{ name }}" class="w-full h-full object-fill" />
  </div>
  <div class="flex flex-col justify-center gap-2 items-center p-3">
    <div class="flex flex-col gap-2">
      <h1 class="capitalize font-semibold text-center text-xl">{{ name }}</h1>
      <h2 class="uppercase font-light text-gray-500">{{ type }}</h2>
      <div class="flex justify-center">
        <img src="../../../../../assets/icons/Star Filled.svg" alt="" />
        <img src="../../../../../assets/icons/Star Filled.svg" alt="" />
        <img src="../../../../../assets/icons/Star Filled.svg" alt="" />
        <img src="../../../../../assets/icons/Star Filled.svg" alt="" />
        <img src="../../../../../assets/icons/Star Filled.svg" alt="" />
      </div>
    </div>
    <div class="size-[1px] bg-gray-100 w-full"></div>
    <div class="flex flex-col">
      <p class="capitalize text-blue-500 font-semibold">{{ subjects }}</p>
    </div>
    <div class="w-full">
      <app-button variant="primary" label="View Profile" size="sm" />
    </div>
  </div>
</div>
