<div *ngIf="variant === 'tutor'" class="flex gap-3 w-full">
  <!-- left -->
  <div
    class="nox border shadow-sm size-full p-4 grid gap-0.5 rounded-lg border-[#E9E9E9]"
  >
    <div class="flex items-center justify-between">
      <p class="text-sm text-[#667085]">{{ title }}</p>
      <div
        [innerHTML]="icon"
        [ngClass]="icon"
        class="rounded-md bg-gray-100"
      ></div>
    </div>
    <h2 class="text-2xl font-semibold mt-2 text-textColor">
      {{ formattedValue }}
    </h2>
    <p class="text-sm text-[#00B69B] mt-1 flex gap-2 items-center">
      <span
        ><svg
          width="18"
          height="11"
          viewBox="0 0 18 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.3334 0.5L14.2417 2.40833L10.1751 6.475L6.84175 3.14167L0.666748 9.325L1.84175 10.5L6.84175 5.5L10.1751 8.83333L15.4251 3.59167L17.3334 5.5V0.5H12.3334Z"
            fill="#00B69B"
          />
        </svg>
      </span>
      {{ growthRate }}%
      <span class="text-sm text-textColor"> {{ timeRange }} </span>
    </p>
  </div>
</div>

<div *ngIf="variant === 'student'" class="flex gap-3 w-full">
  <div class="bg-white p-4 rounded-lg shadow-sm w-full border border-[#E9E9E9]">
    <div class="flex items-center justify-between">
      <p class="text-sm text-gray-600 font-medium">{{ title }}</p>
      <div
        [innerHTML]="icon"
        [ngClass]="icon"
        class="rounded-md bg-gray-100"
      ></div>
    </div>

    <h2 class="text-3xl font-bold mt-1 mb-3">{{ count }}</h2>

    <div class="flex gap-2 flex-wrap">
      <span
        *ngFor="let subject of subjects.slice(0, 3)"
        [ngClass]="subjectColor(subject)"
      >
        {{ subject }}
      </span>

      <!-- <span
        *ngIf="subjects.length > 3"
        class="text-xs font-medium px-2 py-1 rounded-full bg-gray-200 text-gray-700"
      >
        +{{ subjects.length - 3 }} more
      </span> -->
    </div>
  </div>
</div>
