<section>
  <div class="flex flex-col justify-center items-center gap-5 text-primary">
    <h1 class="text-xl lg:text-3xl">Daily Quiz, Daily Bonus- Play Today!</h1>
    <p class="text-center text-sm lg:text-base flex">
      Boost your confidence by taking interactive quizzes. Get instant feedback,
      track your performance, <br />
      and identify areas that need improvement
    </p>
    <div>
      <app-button label="Start Quiz" (click)="invisible = !invisible" />
    </div>
  </div>
</section>

<section
  class="w-screen h-screen lg:h-[91%] absolute top-[70px] left-0 flex justify-center items-center bg-black/30"
  *ngIf="invisible"
>
  <div
    class="w-[230px] h-[380px] lg:w-[400px] lg:h-[510px] bg-white border rounded-lg rotate-12"
  >
    <div
      class="w-[230px] h-[380px] lg:w-[400px] lg:h-[510px] bg-white border rounded-lg p-3 lg:p-10 flex flex-col gap-2 lg:gap-5 z-20 -rotate-12"
    >
      <div class="flex w-full items-center justify-between">
        <div class="bg-primary w-[40px] lg:w-[60px] h-[10px] rounded-3xl"></div>
        <div class="bg-primary w-[40px] lg:w-[60px] h-[10px] rounded-3xl"></div>
        <div class="bg-primary w-[40px] lg:w-[60px] h-[10px] rounded-3xl"></div>
        <div class="bg-primary w-[40px] lg:w-[60px] h-[10px] rounded-3xl"></div>
        <div class="bg-primary w-[40px] lg:w-[60px] h-[10px] rounded-3xl"></div>
        <img
          src="/assets/icons/purple-circle X-mark.svg"
          alt=""
          (click)="invisible = !invisible"
          class="size-5"
        />
      </div>

      <div class="flex justify-between text-xs lg:text-sm">
        <p>QUESTION 05/05</p>
        <p class="font-medium">GEOGRAPHY</p>
      </div>

      <div>
        <h1 class="text-lg lg:text-2xl font-semibold">
          What is the largest ocean on Earth?
        </h1>
      </div>

      <div class="grid gap-3">
        <p class="uppercase text-xs">select only one</p>
        <ul class="flex flex-col gap-3 text-md lg:text-xl font-medium">
          <li>
            <input type="radio" class="accent-primary size-4" />
            Atlantic
          </li>
          <li><input type="radio" class="accent-primary size-4" /> India</li>
          <li><input type="radio" class="accent-primary size-4" /> Pacific</li>
          <li><input type="radio" class="accent-primary size-4" /> Artic</li>
        </ul>
      </div>
      <div class="flex gap-3 w-full justify-end">
        <app-button label="Back" variant="secondary" />
        <app-button label="Next" />
      </div>
    </div>
  </div>
</section>

<section></section>
