<section>
  <div class="flex flex-col justify-center items-center gap-5 text-primary">
    <h1 class="text-3xl">Daily Quiz, Daily Bonus- Play Today!</h1>
    <p class="text-center flex">
      Boost your confidence by taking interactive quizzes. Get instant feedback,
      track your performance, <br />
      and identify areas that need improvement
    </p>
    <div><app-button label="Start Quiz" /></div>
  </div>
</section>

<section class="invisible">
  <div class="w-[300px] border rounded-lg rotate-12">
    <div
      class="w-[300px] bg-white border rounded-lg p-10 flex flex-col gap-3 z-20 -rotate-12"
    >
      <div class="flex w-full">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div class="flex justify-between text-sm">
        <p>QUESTION 05/05</p>
        <p>GEOGRAPHY</p>
      </div>

      <div>
        <h1 class="text-2xl">What is the largest ocean on Earth?</h1>
      </div>

      <div>
        <p class="uppercase text-sm">select only one</p>
        <ul>
          <li>Atlantic</li>
          <li>India</li>
          <li>Pacific</li>
          <li>Artic</li>
        </ul>
      </div>
      <div class="flex">
        <app-button label="Back" variant="secondary" />
        <app-button label="Next" />
      </div>
    </div>
  </div>
</section>

<section></section>
