<div
  class="w-full min-h-screen bg-auth flex flex-col items-center justify-center py-4 md:py-6"
>
  <div
    class="flex flex-col justify-center items-center gap-3 mb-6 md:mb-8 px-4 text-center"
  >
    <h1 class="font-bold text-2xl md:text-[30px] text-primary">
      Reset Password
    </h1>
    <p class="font-normal text-gray-600 text-base md:text-[18px]">
      enter the email you used to sign <br class="hidden md:block" />
      up to get the password link
    </p>
  </div>

  <form
    form
    class="w-full md:w-fit mx-auto px-4 flex flex-col gap-4"
    [formGroup]="resetForm"
  >
    <app-input-ui
      formControlName="email"
      label="Email"
      [placeholder]="'Enter Email'"
      iconLeft="mailIcon"
    />

    <div class="flex justify-between items-center p-3">
      <p>Didn't get code?</p>
      <p class="text-primary font-[500] cursor-pointer" (click)="resendCode()">
        resend code
      </p>
    </div>
    <div *ngIf="isCoundownActive" class="flex justify-center gap-1">
      you will get another one in
      <span class="text-red-600"
        >{{ minutes }}:{{ seconds | number : "2.0" }}
      </span>
    </div>

    <div class="w-full py-3">
      <app-button
        variant="primary"
        label="Confirm"
        [disabled]="isDisabled"
        (btnClick)="isvisible = !isvisible"
      />
    </div>
  </form>
</div>

<div
  *ngIf="isvisible"
  class="w-full min-h-screen bg-auth flex flex-col items-center justify-center py-4 md:py-6 absolute top-0 left-0"
>
  <div
    class="flex flex-col justify-center items-center gap-3 mb-6 md:mb-8 px-4 text-center"
  >
    <div class="bg-white p-3 rounded-xl">
      <img src="../../../../assets/icons/mail.svg" alt="" />
    </div>
    <h1 class="font-bold text-2xl md:text-[30px] text-primary">
      Check Your Mail
    </h1>
    <p class="font-normal text-gray-600 text-base md:text-[18px]">
      A password reset code has <br class="hidden md:block" />
      been sent to your email
    </p>
    <div class="w-[350px] py-3">
      <app-button
        variant="primary"
        label="Done"
        (btnClick)="handleNavigate($event)"
      />
    </div>
  </div>
</div>
