<img
  src="/assets/icons/dropdown.svg"
  alt=""
  class="rotate-90"
  routerLink="/dashboard/profile/main-profile"
/>
<div class="flex-col flex gap-5 items-center">
  <h1 class="font-semibold text-xl">Security</h1>

  <section class="w-full">
    <form action="" class="w-full flex-col flex gap-5">
      <app-input-ui label="Email" placeholder="Enter Email" />
      <app-input-ui label="Phone Number" placeholder="Enter Phone" />
      <app-input-ui label="New Password" placeholder=" Set Password" />
      <app-input-ui label="Confirm Password" placeholder=" Confirm Password " />
      <div class="w-full"><app-button label="Save Changes" /></div>
    </form>
  </section>
</div>
