<!-- desktop view -->
<div class="flex gap-5">
  <section
    class="border rounded-lg p-3 md:p-5 bg-white flex-col flex gap-5 w-full h-[85vh] md:h-[85vh] lg:h-[82vh] xl:w-[40%]"
  >
    <div class="flex justify-between items-center">
      <h1 class="font-semibold text-[20px]">Message</h1>
      <div
        class="flex gap-2 bg-[#EBEAFC] text-primary px-3 py-1 md:p-3 rounded-lg"
      >
        <img src="/assets/icons/Plus-purple.svg" alt="" />
        <p>Compose</p>
      </div>
    </div>

    <div
      class="rounded-xl px-3 py-1 md:p-3 bg-[#EBEAFC] flex items-center justify-center"
    >
      <ul class="flex gap-3 text-center font-semibold w-full justify-between">
        <li (click)="setFilter('all')" [ngClass]="getButtonClasses('all')">
          All
        </li>
        <li (click)="setFilter('tutor')" [ngClass]="getButtonClasses('tutor')">
          Tutor
        </li>
        <li
          (click)="setFilter('student')"
          [ngClass]="getButtonClasses('student')"
        >
          Admin
        </li>
      </ul>
    </div>

    <div class="w-full">
      <input
        type="text"
        placeholder="search"
        class="p-2 w-full md:h-[50px] border-2 rounded-lg"
        [(ngModel)]="searchTerm"
      />
    </div>

    <div class="xl:h-full flex-col flex overflow-y-scroll">
      <div
        *ngFor="let friends of filteredFriends()"
        class="flex w-full pt-3 px-3 justify-between rounded-xl cursor-pointer hover:bg-[#EBEAFC] items-center"
        (click)="onSelectFriends(friends)"
        ngClass=" isActiveFriend(friend.id)
      ? 'bg-blue-600 text-white'
      : 'bg-gray-100 text-gray-800'"
      >
        <div class="flex gap-3">
          <div class="">
            <img
              src="{{ friends.image }}"
              alt=""
              class="object-cover rounded-full size-[50px]"
            />
            <div
              *ngIf="friends.active"
              class="bg-green-500 rounded-full relative left-[35px] bottom-[15px] size-[10px] z-10"
            ></div>
            <div
              *ngIf="!friends.active"
              class="bg-red-500 rounded-full relative left-[35px] bottom-[15px] size-[10px] z-10"
            ></div>
          </div>
          <div>
            <h1 class="font-medium text-sm">{{ friends.name }}</h1>
            <p class="text-subject-meta text-sm">new message</p>
          </div>
        </div>
        <div class="text-sm text-subject-meta">3 days</div>
      </div>
    </div>
  </section>

  <section class="hidden xl:flex w-[60vw]">
    <app-chat />
  </section>
</div>
