<div class="w-full flex justify-center items-center">
  <nav>
    <ul
      class="capitalize text-subject-meta text-lg font-semibold flex gap-3 cursor-pointer"
    >
      <li
        routerLink="referal"
        routerLinkActive="text-primary underline"
        class="hover:text-primary underline"
      >
        referal
      </li>
      <li
        routerLink="leaderboard"
        routerLinkActive="text-primary underline"
        class="hover:text-primary underline"
      >
        leaderboard
      </li>
      <li
        routerLink="streaks"
        routerLinkActive="text-primary underline"
        class="hover:text-primary underline"
      >
        streaks
      </li>
    </ul>
  </nav>
</div>

<div><router-outlet /></div>
