<!-- delete acount pop up -->
<app-modal [show]="deleteModal" (close)="closeDeleteModal()" [custom]="true">
  <div class="rounded-lg bg-white flex-col flex items-center gap-3 p-3">
    <p>Are sure you want to Delete your Account</p>
    <div class="flex gap-5">
      <app-button label="Yes" variant="danger" />
      <app-button label="No" variant="primary" (click)="closeDeleteModal()" />
    </div>
  </div>
</app-modal>

<!-- new desktop view -->
<div class="">
  <section class="hidden lg:grid">
    <div class="w-full h-[160px] bg-[#F79E1B] overflow-hidden">
      <div
        class="text-white justify-center w-full h-full items-end flex-col flex p-5 lg:p-10"
      >
        <h1 class="font-bold text-lg relative z-50 lg:text-xl xl:text-3xl">
          Find the Perfect Tutor & Ace Your Exams!
        </h1>
        <p class="text-xs lg:text-sm xl:text-base relative z-50">
          Personalized one-on-one lessons to boost your JAMB, WAEC, and NECO
          scores.
        </p>
      </div>

      <div
        class="w-[150px] h-[350px] lg:w-[250px] lg:h-[450px] bg-primary z-10 relative right-[40px] lg:right-[50px] bottom-[300px] lg:bottom-[400px] rotate-45"
      ></div>
    </div>
    <div
      class="flex gap-3 h-[20px] items-center top-[10px] left-[20px] relative z-10"
    >
      <img src="" alt="" class="bg-gray-300 size-[150px] rounded-full" />
      <div>
        <h1 class="text-lg font-bold">Abiodun Adeleke</h1>
        <p class="capitalize">WAEC Student</p>
      </div>
    </div>
  </section>

  <section class="lg:hidden mb-5 grid gap-5">
    <div class="w-full h-[120px] bg-[#F79E1B] overflow-hidden">
      <div
        class="text-white justify-center w-full h-full items-end flex-col flex p-5 lg:p-10"
      >
        <h1 class="font-bold text-lg relative z-50 lg:text-xl xl:text-3xl">
          Find the Perfect Tutor & Ace Your Exams!
        </h1>
        <p class="text-xs lg:text-sm xl:text-base relative z-50">
          Personalized one-on-one lessons to boost your JAMB, WAEC, and NECO
          scores.
        </p>
      </div>

      <div
        class="w-[150px] h-[350px] bg-primary z-10 relative right-[40px] lg:right-[50px] bottom-[300px] lg:bottom-[400px] rotate-45"
      ></div>
    </div>
    <div class="flex items-center gap-3">
      <img src="" alt="" class="bg-gray-300 size-[150px] rounded-full" />
      <div>
        <h1 class="text-lg font-bold">Abiodun Adeleke</h1>
        <p class="capitalize">WAEC Student</p>
      </div>
    </div>
  </section>

  <div class="w-full grid xl:flex gap-5">
    <section class="grid gap-5 lg:w-[65%] lg:mt-[100px]">
      <div class="flex flex-col gap-5 border rounded-lg p-5">
        <h1 class="font-medium text-xl">Progress Summary</h1>
        <section class="grid grid-cols-2 gap-3 lg:flex justify-between">
          <div class="px-3 py-3 bg-[#05CD99]/10 rounded-lg gap-3">
            <div class="w-full justify-end flex">
              <img
                src="/assets/icons/profile-outline-class.svg"
                alt=""
                class="bg-white rounded-full p-2"
              />
            </div>
            <p class="text-sm capitalize gap-2 flex items-center">
              <span
                class="rounded-full text-[#05CD99] bg-[#05CD99]/20 px-2 py-1"
                >3</span
              >
              Classes
            </p>
          </div>
          <div class="px-3 py-3 bg-[#9747FF]/10 rounded-lg gap-3">
            <div class="w-full justify-end flex">
              <img
                src="/assets/icons/profile-progress-bar.svg"
                alt=""
                class="bg-white rounded-full p-2"
              />
            </div>
            <p class="text-sm capitalize gap-2 flex items-center">
              <span
                class="rounded-full text-[#9747FF] bg-[#9747FF]/20 px-2 py-1"
                >3</span
              >
              in progress
            </p>
          </div>
          <div class="px-3 py-3 bg-[#6DB1FF]/10 rounded-lg gap-3">
            <div class="w-full justify-end flex">
              <img
                src="/assets/icons/profile-check-correct.svg"
                alt=""
                class="bg-white rounded-full p-2"
              />
            </div>
            <p class="text-sm capitalize gap-2 flex items-center">
              <span
                class="rounded-full text-[#6DB1FF] bg-[#6DB1FF]/20 px-2 py-1"
                >3</span
              >
              completed
            </p>
          </div>
          <div class="px-3 py-3 bg-[#FFB02E]/10 rounded-lg gap-3">
            <div class="w-full justify-end flex">
              <img
                src="/assets/icons/emoji-fire.svg"
                alt=""
                class="bg-white rounded-full p-2"
              />
            </div>
            <p class="text-sm capitalize gap-2 flex items-center">
              <span
                class="rounded-full text-[#FFB02E] bg-[#FFB02E]/20 px-2 py-1"
                >12</span
              >
              daily Streaks
            </p>
          </div>
        </section>
      </div>

      <div class="p-5 gap-5 flex flex-col border rounded-lg">
        <div class="flex justify-between items-center">
          <h1 class="font-medium text-xl">Details</h1>
          <div
            (click)="openModal()"
            class="border rounded-2xl flex items-center gap-2 px-2 cursor-pointer"
          >
            <p>edit</p>
            <img src="/assets/icons/profile-edit.svg" alt="" />
          </div>
        </div>
        <div class="grid lg:grid-cols-2 gap-5">
          <div>
            <h3 class="text-xs text-[#667085]">Email</h3>
            <p>Abiodunadeleke23&#64;gmail.com</p>
          </div>
          <div>
            <h3 class="text-xs text-[#667085]">Phone Number</h3>
            <p>08149648842</p>
          </div>
          <div>
            <h3 class="text-xs text-[#667085]">Address</h3>
            <p>Ibadan, Nigeria</p>
          </div>
          <div>
            <h3 class="text-xs text-[#667085]">Date of Birth</h3>
            <p>27 August 2020</p>
          </div>
        </div>
        <div>
          <h3 class="text-xs text-[#667085]">Bio</h3>
          <p>
            Adebusola is a dedicated student preparing for JAMB, striving for
            academic excellence. Passionate about Biology and is committed to
            mastering key concepts and improving her performance through
            consistent study and practice.
          </p>
        </div>
      </div>

      <div class="py-5 px-2 gap-5 flex flex-col border rounded-lg">
        <h1 class="font-medium text-xl">Payment History</h1>
        <div class="flex w-full justify-center">
          <div class="w-[350px] xl:w-[560px] 2xl:w-full">
            <div class="overflow-x-auto rounded-lg shadow bg-white">
              <table class="w-full text-left text-base font-normal">
                <thead class="bg-gray-100 font-normal">
                  <tr>
                    <th *ngFor="let column of columns" class="py-4">
                      {{ column.header }}
                    </th>
                  </tr>
                </thead>
                <tbody class="text-gray-700">
                  <tr
                    *ngFor="let row of data"
                    class="border-b hover:bg-gray-50"
                  >
                    <td *ngFor="let column of columns" class="py-4">
                      <!-- Status column badge -->
                      <ng-container *ngIf="column.key === 'status'">
                        <span
                          class="px-3 py-1 rounded-full text-sm"
                          [ngClass]="getStatusClass(row[column.key])"
                        >
                          {{ row[column.key] }}
                        </span>
                      </ng-container>

                      <!-- Action column (⋮ icon) -->
                      <ng-container *ngIf="column.key === 'action'">
                        <div
                          class="relative inline-block text-left action-menu"
                        >
                          <button
                            (click)="toggleMenu(row['transactionId'])"
                            class="text-gray-500 hover:text-black text-xl focus:outline-none"
                          >
                            <img
                              src="/assets/icons/profile-3-dots-scale.svg"
                              alt=""
                            />
                          </button>

                          <div
                            *ngIf="openMenuId === row['transactionId']"
                            class="absolute right-0 z-10 mt-2 w-36 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                          >
                            <ul class="py-1 text-sm text-gray-700">
                              <li class="block px-4 py-2 hover:bg-gray-100">
                                View
                              </li>
                              <li class="block px-4 py-2 hover:bg-gray-100">
                                Edit
                              </li>
                              <li
                                class="block px-4 py-2 hover:bg-gray-100 text-red-500"
                              >
                                Delete
                              </li>
                            </ul>
                          </div>
                        </div>
                      </ng-container>

                      <!-- Normal columns -->
                      <ng-container
                        *ngIf="
                          column.key !== 'status' && column.key !== 'action'
                        "
                      >
                        {{ row[column.key] }}
                      </ng-container>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="xl:w-[35%] flex-col flex gap-5">
      <div class="border rounded-lg p-5 flex-col flex gap-5 h-[400px]">
        <h1 class="text-xl font-medium">Upcoming Tasks</h1>
        <section class="overflow-y-scroll h-[350px] grid gap-5">
          <div class="border rounded-lg p-3 flex-col flex h-[100px] gap-3">
            <div class="flex gap-3 items-center">
              <input
                type="radio"
                class="accent-primary border-2 border-primary"
              />
              <h1>Take mock exams</h1>
            </div>
            <div class="flex items-center gap-1 text-xs">
              <img src="/assets/icons/calendar.svg" alt="" /> May 11, 2025
              <img src="/assets/icons/time.svg" alt="" /> Due on Saturday
            </div>
          </div>

          <div
            *ngFor="let tasks of tasks"
            class="border rounded-lg flex flex-col h-[100px] p-3 gap-3"
          >
            <div class="flex w-full justify-between">
              <div>
                <h1 class="font-medium text-lg capitalize">{{ tasks.task }}</h1>
                <h2 class="text-xs text-[#667085]">{{ tasks.class }}</h2>
              </div>
              <div
                class="task-action-menu"
                (click)="toggleTaskMenu(tasks.taskId)"
              >
                <img src="/assets/icons/profile-3-dots-scale.svg" alt="" />
                <div
                  class="absolute right-0 z-10 mt-2 w-36 rounded-lg bg-white shadow-lg p-3"
                  *ngIf="taskMenuId === tasks.taskId"
                >
                  <ul class="gap-3 flex flex-col text-[#667085]">
                    <li>Resedule</li>
                    <li>Cancel</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="flex items-center gap-1 text-xs">
              <img src="/assets/icons/calendar.svg" alt="" /> {{ tasks.date }}
              <img src="/assets/icons/time.svg" alt="" /> {{ tasks.time }}
            </div>
          </div>
        </section>
      </div>
      <div class="border rounded-lg p-5 flex-col flex gap-5 h-[400px]">
        <h1 class="font-medium text-xl">In Progress</h1>
        <section class="overflow-y-scroll h-[350px] grid gap-5">
          <div
            *ngFor="let progress of progress"
            class="border h-[130px] rounded-lg p-3 grid gap-3"
          >
            <div>
              <h1 class="text-lg font-medium capitalize">
                {{ progress.subject }}
              </h1>
              <h2 class="text-xs text-[#667085]">{{ progress.topic }}</h2>
            </div>
            <div class="w-full h-[10px] bg-gray-300 rounded-full">
              <div
                [class]="
                  'h-full bg-primary rounded-full w-[' +
                  progress.progress +
                  '%]'
                "
              ></div>
            </div>
            <div>
              <button
                class="p-2 rounded-full bg-primary text-white text-[10px]"
                routerLink="/dashboard/courses"
              >
                Continue Watching
              </button>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>

<!--edit pop up -->
<app-modal [show]="showModal" (close)="closeModal()" [custom]="true">
  <div
    class="flex-col flex items-center w-[500px] gap-3 p-[30px] bg-white rounded-lg border"
  >
    <h1 class="font-medium">Profile</h1>
    <img src="" alt="" class="bg-gray-300 rounded-full size-10" />
    <form class="w-full flex-col flex gap-3">
      <app-input-ui label="Full Name" />
      <app-input-ui label="Email" />
      <app-input-ui label="Date of Birth" />
      <app-intl-phone-input />
      <app-drop-select label="Exam" />
      <div class="flex gap-5 w-full justify-center items-center">
        <app-button variant="secondary" label="Cancel" (click)="closeModal()" />
        <app-button label="Save" />
      </div>
    </form>
  </div>
</app-modal>
