<!-- 
<img
  src="/assets/icons/dropdown.svg"
  alt=""
  class="rotate-90"
  routerLink="/dashboard/profile"
/> -->
<div class="max-w-xl rounded-xl border p-4">
  <div class="flex items-center justify-between mb-5">
    <div>
      <h2 class="text-lg lg:text-xl font-semibold">General Notification</h2>
      <p class="text-sm text-gray-500">Turn on all notifications</p>
    </div>
    <label class="relative inline-flex items-center cursor-pointer">
      <!-- The hidden checkbox input -->
      <input
        type="checkbox"
        class="sr-only peer"
        [(ngModel)]="toggleAll"
        (change)="toggleAllNotifications()"
      />

      <!-- The background of the switch -->
      <div
        class="w-11 h-6 bg-gray-300 peer-checked:bg-primary rounded-full transition-colors duration-300"
      ></div>

      <!-- The white circle -->
      <div
        class="absolute left-0.5 top-0.5 w-5 h-5 bg-white rounded-full shadow transition-transform duration-300 transform peer-checked:translate-x-5"
      ></div>
    </label>
  </div>

  <div class="space-y-3">
    <label
      *ngFor="let option of notificationOptions"
      class="flex items-center space-x-2 text-sm lg:text-base"
    >
      <input
        type="checkbox"
        [(ngModel)]="option.checked"
        class="accent-primary rounded border-gray-300 focus:ring-0 focus:outline-none w-4 h-4"
      />
      <span>{{ option.label }}</span>
    </label>
  </div>

  <br />
  <app-button>Save Changes</app-button>
</div>
