<div class="border rounded-xl p-5 space-y-5">
  <h1 class="text-xl font-semibold">Weekly Availability</h1>
  <section class="grid gap-5">
    <div
      class="w-full flex items-center justify-between"
      *ngFor="let week of weeks"
    >
      <section class="justify-between flex items-center lg:w-[20%]">
        <h2 class="font-medium capitalize">{{ week.date }}</h2>
        <app-switch-button />
      </section>
      <section class="flex items-center gap-3">
        <div
          class="w-full rounded-lg px-2 py-2 bg-gray-100 text-[16px] text-gray-600 focus:outline-none transition duration-200"
        >
          <select class="outline-none bg-inherit">
            <option value="" *ngFor="let opt of options">
              {{ opt.label }}AM
            </option>
          </select>
          <svg
            class="absolute right-3 top-8 pointer-events-none w-6 h-6 text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </div>
        <p>TO</p>
        <div
          class="w-full rounded-lg px-2 py-2 bg-gray-100 text-[16px] text-gray-600 focus:outline-none transition duration-200"
        >
          <select class="outline-none bg-inherit">
            <option value="" *ngFor="let opt of options">
              {{ opt.label }}AM
            </option>
          </select>
          <svg
            class="absolute right-3 top-8 pointer-events-none w-6 h-6 text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </div>
      </section>
    </div>
  </section>
</div>
