<img
  src="/assets/icons/dropdown.svg"
  alt=""
  class="rotate-90"
  routerLink="/dashboard/profile/main-profile"
/>
<div class="flex-col flex gap-5 items-center">
  <h1 class="font-semibold text-xl">Accounts</h1>

  <section class="w-full">
    <form action="" class="w-full flex-col flex gap-5">
      <app-input-ui label=" Name" placeholder="Adeoluwa Adegbuyi" />
      <app-input-ui label="Card Number" placeholder="4855 **** **** ****" />
      <div class="flex gap-3">
        <app-input-ui label="MM/YY" placeholder="04/24" />
        <app-input-ui label="CVV" placeholder="***" />
      </div>
      <app-input-ui placeholder="New Payment Cards" />
      <app-input-ui label=" Name" placeholder="Name on card" />
      <app-input-ui label="Card Number" placeholder="Label" />
      <div class="flex gap-3">
        <app-input-ui label="MM/YY" placeholder="04/24" />
        <app-input-ui label="CVV" placeholder="***" />
      </div>
      <!-- <app-input-ui label="Date of Birth" type="Date" />
      <app-intl-phone-input />
      <app-drop-select label="Exam Type" />
      <app-drop-select label="Gender" />
      <app-drop-select label="Class" />
      <app-drop-select label="Address" /> -->

      <div class="w-full"><app-button label="Update Profile" /></div>
    </form>
  </section>
</div>
