<div class="flex h-svh w-full">
  <app-sidebar />
  <div class="content.wrapper flex flex-col w-full">
    <app-dash-navbar />
    <div
      class="content-body size-full overflow-scroll max-[720px]:mb-[var(--bottom-navbar-height)]"
    >
      <!-- <div class="content size-full min-h-[var(--sch)] bg-gray-100"></div> -->
      <!-- <div class="content size-full min-h-svh bg-gray-200"></div>  -->
      <!--<div class="content size-full min-h-svh bg-gray-300"></div>  -->
      <router-outlet />
    </div>
  </div>
</div>
