<div class="flex h-svh w-full overflow-hidden max-h-svh">
  <app-sidebar />
  <div
    class="content.wrapper flex flex-col w-full max-w-full md:max-w-[calc(100%_-_var(--sidebar-width))]"
  >
    <app-dash-navbar />
    <div
      class="content-body size-full overflow-scroll md:mb-0 p-4 sm:p-6 md:max-w-[100svw]"
    >
      <div class="fixed right-5 top-1/2 -translate-y-1/2 z-50">
        <button
          type="button"
          class="mb-2 px-2 py-1 rounded bg-black/50 capitalize text-white text-xs"
          (click)="toggleSwitcher()"
        >
          {{ showSwitcher ? "Close" : "Switch" }}
        </button>

        @if (showSwitcher) {
        <div
          class="p-3 rounded-md shadow bg-white/90 backdrop-blur-sm space-y-2 text-sm"
        >
          <button
            type="button"
            class="block w-full px-3 py-1 text-left rounded hover:opacity-70"
            [class]="{ 'bg-primary text-white': userRole === 'tutor' }"
            (click)="setRole('tutor')"
          >
            Tutor
          </button>
          <button
            type="button"
            class="block w-full px-3 py-1 text-left rounded hover:opacity-70"
            [class]="{ 'bg-primary text-white': userRole === 'student' }"
            (click)="setRole('student')"
          >
            Student
          </button>
          <button
            type="button"
            class="block w-full px-3 py-1 text-left rounded hover:opacity-70"
            [class]="{ 'bg-primary text-white': userRole === 'admin' }"
            (click)="setRole('admin')"
          >
            Admin
          </button>
        </div>
        }
      </div>

      <router-outlet />
    </div>
  </div>
</div>
