<div class="grid gap-7">
  <div class="space-y-5">
    <section class="space-y-2">
      <h1 class="text-lg lg:text-xl font-semibold">Course Title</h1>
      <div class="border p-3 rounded-md">
        <input type="text" placeholder="e.g biology" />
      </div>
    </section>
    <section class="grid lg:flex gap-5">
      <div class="w-full">
        <h1 class="text-lg lg:text-xl font-semibold">Course Title</h1>
        <div class="border p-3 rounded-md">
          <input type="text" placeholder="e.g biology" />
        </div>
      </div>
      <div class="w-full">
        <h1 class="text-lg lg:text-xl font-semibold">Exam</h1>
        <div class="border p-3 rounded-md">
          <input type="text" placeholder="e.g biology" />
        </div>
      </div>
    </section>
  </div>

  <section class="grid w-full xl:grid-cols-2 gap-6 mb-7">
    <div class="w-[350px] md:w-full">
      <h1 class="text-lg lg:text-xl font-semibold mb-2">Course Thumbnail</h1>
      <div class="flex gap-3">
        <div
          class="bg-[#F5F7FA] h-[160px] w-[250px] md:w-[300px] flex items-center py-5 px-5"
        >
          <img src="/assets/icons/Image.svg" alt="" />
        </div>
        <div class="grid gap-3">
          <p class="text-sm xl:text-base">
            Upload your course Thumbnail here. Important guidelines: 1200x800
            pixels or 12:8 Ratio. Supported format: .jpg, .jpeg, or .png
          </p>
          <div>
            <input type="file" name="" id="file" class="hidden" />
            <label
              for="file"
              class="bg-[#F1F1FF] py-2 px-6 text-primary gap-2 rounded w-full justify-center flex items-center"
            >
              Upload Image
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.0625 7.68647L12 3.75L15.9375 7.68647"
                  stroke="#2C2A72"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M12 14.2492V3.75195"
                  stroke="#2C2A72"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M20.25 14.25V19.5C20.25 19.6989 20.171 19.8897 20.0303 20.0303C19.8897 20.171 19.6989 20.25 19.5 20.25H4.5C4.30109 20.25 4.11032 20.171 3.96967 20.0303C3.82902 19.8897 3.75 19.6989 3.75 19.5V14.25"
                  stroke="#2C2A72"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="w-[350px] md:w-full">
      <h1 class="text-lg lg:text-xl font-semibold mb-2">Course Thumbnail</h1>
      <div class="flex gap-3">
        <div
          class="bg-[#F5F7FA] h-[160px] w-[250px] md:w-[300px] flex items-center py-5 px-5"
        >
          <img src="/assets/icons/PlayCircle.svg" alt="" />
        </div>
        <div class="grid gap-3">
          <p class="text-sm xl:text-base">
            Upload your course Thumbnail here. Important guidelines: 1200x800
            pixels or 12:8 Ratio. Supported format: .jpg, .jpeg, or .png
          </p>
          <div>
            <input type="file" name="" id="file" class="hidden" />
            <label
              for="file"
              class="bg-[#F1F1FF] py-2 px-6 text-primary gap-2 rounded w-full justify-center flex items-center"
            >
              Upload Image
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.0625 7.68647L12 3.75L15.9375 7.68647"
                  stroke="#2C2A72"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M12 14.2492V3.75195"
                  stroke="#2C2A72"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M20.25 14.25V19.5C20.25 19.6989 20.171 19.8897 20.0303 20.0303C19.8897 20.171 19.6989 20.25 19.5 20.25H4.5C4.30109 20.25 4.11032 20.171 3.96967 20.0303C3.82902 19.8897 3.75 19.6989 3.75 19.5V14.25"
                  stroke="#2C2A72"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="w-[350px] md:w-full">
      <h1 class="text-lg lg:text-xl font-semibold mb-2">Course Thumbnail</h1>
      <div class="flex gap-3">
        <div
          class="bg-[#F5F7FA] h-[160px] w-[250px] md:w-[300px] flex items-center justify-center py-5 px-5"
        >
          <img src="/assets/icons/pdf.svg" alt="" />
        </div>
        <div class="grid gap-3">
          <p class="text-sm xl:text-base">
            Upload your course Thumbnail here. Important guidelines: 1200x800
            pixels or 12:8 Ratio. Supported format: .jpg, .jpeg, or .png
          </p>
          <div>
            <input type="file" name="" id="file" class="hidden" />
            <label
              for="file"
              class="bg-[#F1F1FF] py-2 px-6 text-primary gap-2 rounded w-full justify-center flex items-center"
            >
              Upload Image
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.0625 7.68647L12 3.75L15.9375 7.68647"
                  stroke="#2C2A72"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M12 14.2492V3.75195"
                  stroke="#2C2A72"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M20.25 14.25V19.5C20.25 19.6989 20.171 19.8897 20.0303 20.0303C19.8897 20.171 19.6989 20.25 19.5 20.25H4.5C4.30109 20.25 4.11032 20.171 3.96967 20.0303C3.82902 19.8897 3.75 19.6989 3.75 19.5V14.25"
                  stroke="#2C2A72"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </label>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="grid gap-6">
    <div>
      <h1 class="font-semibold text-lg lg:text-xl mb-2">
        Enter you course descriptions
      </h1>
      <quill-editor [(ngModel)]="content" name="content"></quill-editor>
    </div>

    <div class="grid gap-5 border-t-2 p-2">
      <div class="flex justify-between w-full">
        <h1 class="font-semibold text-lg lg:text-xl">
          What you will teach in this course
        </h1>
        <p class="text-primary text-sm md:text-base">+ Add New</p>
      </div>
      <div class="p-3 border">
        <input
          type="text"
          placeholder="What you will teach in this course..."
        />
      </div>
    </div>

    <div class="grid gap-5 border-t-2 p-2">
      <div class="flex justify-between w-full">
        <h1 class="font-semibold text-lg lg:text-xl">Target Audience (4/8)</h1>
        <p class="text-primary text-sm md:text-base">+ Add New</p>
      </div>
      <div class="p-3 border">
        <input type="text" placeholder="Who this course is for..." />
      </div>
    </div>

    <div class="grid gap-5 border-t-2 p-2">
      <div class="flex justify-between w-full">
        <h1 class="font-semibold text-lg lg:text-xl">
          Course requirements (4/8)
        </h1>
        <p class="text-primary text-sm md:text-base">+ Add New</p>
      </div>
      <div class="p-3 border">
        <input type="text" placeholder="What is you course requirements..." />
      </div>
    </div>
  </section>

  <section class="flex gap-3 w-full justify-center">
    <app-button
      label="Cancel"
      variant="secondary"
      routerLink="/dashboard/resources"
    />
    <app-button label="Save as Draft" variant="secondary" />
    <app-button label="Create Plan" />
  </section>
</div>
