<section class="flex w-full gap-5">
  <div class="flex flex-col gap-5 w-[60%]">
    <section class="flex-col flex gap-3 border rounded-lg p-5">
      <div class="flex gap-3 items-center">
        <div class="rounded-full size-20 bg-gray-400">
          <!-- <img
          src="../../../../../assets/images/tutor-students-image.png"
          alt=""
          class="w-full h-full object-cover"
        /> -->
        </div>
        <div>
          <h1 class="font-semibold">Sharfa Wazifa BD</h1>
          <p class="font-light">JAMB STUDENT</p>
        </div>
      </div>
      <div class="w-full flex justify-between">
        <div class="p-3 border rounded-lg">Overveiw</div>
        <div class="p-3 border rounded-lg">Notes</div>
        <div class="p-3 border rounded-lg">Test</div>
        <div class="p-3 border rounded-lg">Assignment</div>
        <div class="p-3 border rounded-lg">History</div>
      </div>
    </section>

    <section class="flex-col flex gap-3 border rounded-lg p-5">
      <div class="flex justify-between">
        <h1 class="font-semibold text-xl">All Personal Information</h1>
        <div class="text-primary">Edit</div>
      </div>
      <div class="grid grid-cols-2 gap-5">
        <div class="flex gap-2">
          <img
            src="/assets/icons/mail.svg"
            alt=""
            class="bg-gray-200 rounded-full p-2 size-10"
          />
          <div>
            <h1 class="font-semibold">Adebusola Meggy</h1>
            <p class="capitalize font-light">Mail Address</p>
          </div>
        </div>

        <div class="flex gap-2">
          <img
            src="/assets/icons/cake.svg"
            alt=""
            class="bg-gray-200 rounded-full p-2 size-10"
          />
          <div>
            <h1 class="font-semibold">02 August 2012</h1>
            <p class="capitalize font-light">14 years old</p>
          </div>
        </div>

        <div class="flex gap-2">
          <img
            src="/assets/icons/phone.svg"
            alt=""
            class="bg-gray-200 rounded-full p-2 size-10"
          />
          <div>
            <h1 class="font-semibold">+2347154357821</h1>
            <p class="capitalize font-light">Phone Number</p>
          </div>
        </div>

        <div class="flex gap-2">
          <img
            src="/assets/icons/address-book.svg"
            alt=""
            class="bg-gray-200 rounded-full p-2 size-10"
          />
          <div>
            <h1 class="font-semibold">Ibadan, Nigeria</h1>
            <p class="capitalize font-light">Address</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="flex-col flex gap-5 w-[40%]">
    <section class="border p-10 rounded-lg">
      <h1>Progress Tracker</h1>

      <div>
        <p>Tutor Session Completed</p>
        <div class="flex items-center gap-2">
          <div class="bg-gray-200 h-2 rounded-full w-full">
            <div class="bg-primary w-[50%] h-2 rounded-full"></div>
          </div>
          2/4
        </div>
      </div>
      <div>
        <p>Lessons completed</p>
        <div class="flex items-center gap-2">
          <div class="bg-gray-200 h-2 rounded-full w-full">
            <div class="bg-primary w-[85%] h-2 rounded-full"></div>
          </div>
          85%
        </div>
      </div>
      <div>
        <p>Latest Mock Exam Score</p>
        <div class="flex items-center gap-2">
          <div class="bg-gray-200 h-2 rounded-full w-full">
            <div class="bg-primary w-[100%] h-2 rounded-full"></div>
          </div>
          1/1
        </div>
      </div>
    </section>
    <section class="border p-10 rounded-lg">
      <h1>Progress Tracker</h1>

      <div>
        <p>Tutor Session Completed</p>
        <div class="flex items-center gap-2">
          <div class="bg-gray-200 h-2 rounded-full w-full">
            <div class="bg-primary w-[50%] h-2 rounded-full"></div>
          </div>
          2/4
        </div>
      </div>
      <div>
        <p>Lessons completed</p>
        <div class="flex items-center gap-2">
          <div class="bg-gray-200 h-2 rounded-full w-full">
            <div class="bg-primary w-[85%] h-2 rounded-full"></div>
          </div>
          85%
        </div>
      </div>
      <div>
        <p>Latest Mock Exam Score</p>
        <div class="flex items-center gap-2">
          <div class="bg-gray-200 h-2 rounded-full w-full">
            <div class="bg-primary w-[100%] h-2 rounded-full"></div>
          </div>
          1/1
        </div>
      </div>
    </section>
  </div>
</section>
